.env
cache/
llamaindex_storage/
eval_results/
__pycache__/
*.pyc
venv/
.venv/
.DS_Store__pycache__/
*.pyc
.DS_Store
cache/
llamaindex_storage/
eval_results/
pdfs/
*.zip
new-rag-llm-worflow/
raw/
.env
venc/
__pycache__/
*.pyc
.DS_Store
cache/
llamaindex_storage/
eval_results/
pdfs/
*.zip
new-rag-llm-workflow/
raw/
.env
venv/
